* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins";
  color: #fff;
  font-family: "poppins";
}

body {
  background: #217bb6;
  background: linear-gradient(180deg, #217bb6, #78019b);
}
.header-head {
  margin-top: 36px;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
.header-link-1 a {
  text-decoration: none;
  color: #fff;
  position: relative;
  top: 10px;
}

.header-links {
  list-style-type: none;
  display: flex;
  gap: 88px;
  position: relative;
  top: 5px;
}
.header-poragraph {
  display: flex;
  justify-content: space-between;
}
.header-btn {
  width: 133px;
  height: 41px;
  border-radius: 8px;
  background-color: #fa9021;
  border: none;
  color: #fff;
}
.header-logo {
  color: #fff;
}
.container2 {
  width: 1300px;
  margin: 0 auto;
}
/* header end  */

.main-header {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.main-title {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.main-span {
  color: #fa9021;
}
.search-main {
  width: 400px;
  height: 50px;
  background-color: #1c140f;
  border-radius: 10px;
  border: none;
}
::placeholder {
  padding: 60px;
}
.main-img {
  position: relative;
  right: 380px;
  top: 3px;
}
.main-search {
  margin-top: 75px;
}
/* end  */
.article-header {
  margin-top: 110px;
}
.article-poragraph {
  width: 587px;
  height: 768px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article-title1 {
  display: flex;
  gap: 20px;
  align-items: center;
}
.article-title2 {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.article-poragraph2 {
  width: 587px;
  height: 768px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 90px;
}
.article-btn {
  width: 165px;
  height: 48px;
  background-color: #2351f5;
  border: none;
}
.article-title3 {
  display: flex;
  gap: 34px;
}
.article-poragraph3 {
  width: 638px;
  height: 183px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.container-news {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.article-h1 {
  font-size: 23px;
  margin-top: 22px;
}
/* end  */
.nav-center-title2 {
  display: flex;

  padding: 40px;
  flex-direction: column;
  color: #fff;
}
.nav-center-poragraph {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 75px;
}
.nav-center-poragraph {
  width: 100%;
  height: 189px;
  background-color: #1c140f;
  border-radius: 15px;
}
.nav-center-input {
  width: 385px;
  height: 48px;
  border-radius: 8px;
  border: none;
}
.nav-center-input:focus {
  background-color: #3b2a9e37;
}

.nav-center-btn {
  width: 105px;
  height: 37px;
  border-radius: 8px;
  border: none;
  color: #fff;
  background-color: #dc7000;
  position: relative;
  right: 115px;
}
.nav-center-title {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.nav-center {
  margin-top: 160px;
  margin-top: 700px;
}
/* nav end  */
.footer-end {
  margin-top: 165px;
  width: 100%;
  height: 380px;
  background-color: #070707;
  padding-top: 90px;
}
.footer-end-poragraph {
  width: 100%;
  height: 161px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.footer-end-title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 161px;
}
.footer-end-wrapper {
  list-style-type: none;
}
.footer-end-img {
  display: flex;
  align-items: end;
}
.footer-end-span {
  display: flex;
  justify-content: center;
  color: #fff;
  margin-top: 30px;
}
.container4 {
  width: 1400px;
  margin: 0 auto;
}
.header-logo {
  margin-top: 5px;
}
.article-btn {
  transition: all 0.3s linear;
}
.article-btn:hover {
  transform: scale(1.1);
  background-color: #c29566;
  border-radius: 5px;
  /* transform: translateX(30px); */
}

/* end  */
