* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins";
  color: #fff;
  font-family: "poppins";
}

body {
  background: #b7797a;
  background: linear-gradient(315deg, #b7797a, #4217e1);
}
.header-head {
  margin-top: 36px;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
.header-link-1 a {
  text-decoration: none;
  color: #fff;
  position: relative;
  top: 10px;
}

.header-links {
  list-style-type: none;
  display: flex;
  gap: 88px;
  position: relative;
  top: 5px;
}
.header-poragraph {
  display: flex;
  justify-content: space-between;
}
.header-btn {
  width: 133px;
  height: 41px;
  border-radius: 8px;
  background-color: #fa9021;
  border: none;
  color: #fff;
}
.header-logo {
  color: #fff;
}
.container2 {
  width: 1300px;
  margin: 0 auto;
}
/* header end  */

.main-header {
  margin-top: 130px;
}
.main-title {
  display: flex;
  gap: 15px;
  flex-direction: column;
  text-align: center;
}
.main-span {
  color: #fa9021;
}
.main-poragraph {
  width: 1340px;
  height: 200px;
  background-color: #1c140f;
  margin: 0 auto;
  margin-top: 45px;
  border-radius: 10px;

  display: flex;
  justify-content: space-around;
}

.main-imgs {
  height: 200px;
  display: flex;
  align-items: center;
  gap: 36px;
}
/* main :end  */
.footer-header {
  margin-top: 95px;
  width: 100%;
  height: 368px;
}
.footer-poragraph {
  display: flex;
  justify-content: space-between;
}
.footer-title {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.li-imgs {
  position: relative;
  top: 7px;
  right: 10px;
}
.footer-img {
  display: flex;
  align-items: center;
}
/* footer end  */
.article-header {
  margin-top: 186px;
  width: 100%;
  height: 490px;
}
.article-poragraph {
  display: flex;
  justify-content: space-between;
}
.article-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 463px;
}
.article-imgs {
  width: 496px;
  height: 495px;
  display: flex;
  align-items: end;
}
.article-btn {
  width: 177px;
  height: 50px;
  background-color: #dc7000;
  border: none;
}

.article-poragraph2 {
  display: flex;
  justify-content: space-between;
  margin-top: 190px;
}
.article-poragraph3 {
  display: flex;
  justify-content: space-between;
  margin-top: 190px;
}
/* end  */
.nav-center-title2 {
  display: flex;

  padding: 40px;
  flex-direction: column;
  color: #fff;
}
.nav-center-poragraph {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 75px;
}
.nav-center-poragraph {
  width: 100%;
  height: 189px;
  background-color: #1c140f;
  border-radius: 15px;
}
.nav-center-input {
  width: 385px;
  height: 48px;
  border-radius: 8px;
  border: none;
}
.nav-center-input:focus {
  background-color: #3b2a9e37;
}
::placeholder {
  padding-left: 20px;
}
.nav-center-btn {
  width: 105px;
  height: 37px;
  border-radius: 8px;
  border: none;
  color: #fff;
  background-color: #dc7000;
  position: relative;
  right: 115px;
}
.nav-center-title {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.nav-center {
  margin-top: 160px;
  margin-top: 1510px;
}
/* nav end  */
.footer-end {
  margin-top: 165px;
  width: 100%;
  height: 380px;
  background-color: #070707;
  padding-top: 90px;
}
.footer-end-poragraph {
  width: 100%;
  height: 161px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.footer-end-title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 161px;
}
.footer-end-wrapper {
  list-style-type: none;
}
.footer-end-img {
  display: flex;
  align-items: end;
}
.footer-end-span {
  display: flex;
  justify-content: center;
  color: #fff;
  margin-top: 30px;
}
.header-logo {
  margin-top: 5px;
}
